@charset "utf-8";

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul,
span,
strong,
em {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

#wrap {
    min-width: 1400px;
  }

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 14px;
    /*1rem지정하기*/
}

body {
    font-family: 'KoddiUDOnGothic-Regular';
    line-height: 24px;
    color: #2b2b2b;
}

@font-face {
    font-family: 'KoddiUDOnGothic-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/KoddiUDOnGothic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.e_point {
    font-size: 30px;
    font-family: 'Satista';
    font-weight: 500;
    padding-bottom: 10px;
}

img {
    display: block;
}

/* Poppins */




#inner_header {
    font-size: 16px;
    position: relative;
    height: 1000px;
    background: url(../images/home_header_bg.png) no-repeat center;
    background-size: cover;
}

.header {
    background-color: rgba(255, 255, 255, 0.5);
    height: 110px;
}

/* .inner_top {
    width: 1320px;
    margin: 0 auto;
} */

.top {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    position: relative;
}

.util_wrap {
    position: absolute;
    top: 10px;
    right: 0;
}

.util {
    font-size: 13px;
    display: flex;
    color: #555;
}

.util>li {
    padding: 0 10px;
    cursor: pointer;
}

.util>li:hover {
    color: white;
}

.gnb {
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: #c8bbbb;

}

.gnb>li {
    width: 150px;
}

.gnb>li:nth-child(3) {
    margin: 0 15px;
}

.gnb>li>a {
    text-align: center;
    display: block;
    padding: 8px 0px 6px;
}

.gnb>li>a:hover {
    color: #835c6d;
    border-bottom: 2px solid #835c6d;
}

/* submenu */

.bg1 {
    background-color: rgba(255, 255, 255, 0.8);
}

.submenu {
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    height: 380px;
    z-index: 9;
    display: none;
}

.gnb>li:hover>.submenu {
    display: block;
}

.submenu_inner {
    padding: 40px 0px;
    color: #756673;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.submenu_inner1 {
    flex-direction: column;
    align-items: center;
}

.submenu_link {
    padding: 20px 0px;
    display: flex;
}

.submenu_link>li a {
    opacity: 0.5;
}

.submenu_link>li a:hover {
    opacity: 1;
}

.brandmenu_txt>li a {
    opacity: 0.5;
    margin-bottom: 10px;
    padding: 5px 10px;
    display: block;
}

.brandmenu_txt {
    padding: 30px 0px;
}


.brandmenu_txt>li:nth-child(2) a {
    margin: 0px 30px;
}

.align {
    padding: 30px;
    text-align: center;
}

.title_txt {
    font-size: 12px;
    text-align: center;
}

.submenu_title {
    padding: 80px 0px;
    text-align: left;
    padding-bottom: 10px;
}

.submenu_wrap2 {
    flex-direction: column;
    text-align: left;
}

.submenu_photo {
    margin-top: 20px;
    display: flex;
}

.submenu_photo li img {
    display: block;
}

.submenu_photo>li:nth-child(2) {
    margin-left: 20px;
}

/* header E */
.content {
    width: 1320px;
    margin: 100px auto;
    text-align: center;
}

.content h1 {
    padding-bottom: 80px;
}

.section1_wrap {
    margin: 0 auto;
    width: 1000px;
    display: flex;
}

.categoly_candle {
    font-size: 30px;

}

.left_wrap {
    width: 400px;
}

.left_wrap img {
    width: 100%;
}

.right1_wrap {
    display: flex;
}

.right_bg {
    background: url(../images/home.png)#a599aa no-repeat center;

    width: 300px;
}

.right_img {
    width: 300px;
}

.right_img img {
    display: block;
}

.bg2 {
    background: url(../images/home2.png)#a599aa no-repeat center;
    background-color: #cec7b5;
}

.candle_menu {
    margin: 100px auto;
    width: 1000px;
}

.candle_menu li {
    overflow: hidden;
    margin-bottom: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 600px;
    width: 480px;
    position: relative;
}

.candle_menu li:nth-child(1) {
    background: url(../images/cande_item1.png) no-repeat center top 0px;
    float: left;
    margin-right: 20px;
}

.candle_menu li:nth-child(2) {
    background: url(../images/candle_item2.png) no-repeat center top 0px;
    float: left;
}

.candle_menu li:nth-child(3) {
    background: url(../images/candle_item1.png) no-repeat center top 0px;
    clear: both;
    float: left;
    margin-right: 20px;
}

.candle_menu li:nth-child(4) {
    background: url(../images/candle_item3.png) no-repeat center top 0px;
    float: left;
}

.line {
    width: 480px;
    height: 1px;
    background-color: black;
    margin-bottom: 10px;
}

.item_txt {
    padding-bottom: 48px;
}

.candle_menu li:hover .cover {
    transform: translateY(435px);
    transition: transform 0.2s;
}

.cover {

    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    width: 100%;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.599);
    transform: translateY(600px);
}

.cover img {
    width: 30px;
    height: 30px;
    padding-right: 20px;
}

#footer{
    box-sizing: border-box;
    padding: 50px 0px;
    height: 300px;
    background-color:#F2F2F2 ;

}
.inner_footer{
    margin: 0 auto;
    width: 1320px;
}
.footer_link{
    display: flex;
    justify-content: space-between;
}
.footer_link li{
    cursor: pointer;
}
.strong{
    padding: 10px 0px;
    width: 260px;
    border-bottom: 1px solid black;
    margin:10px 0px;
}
.footer_sns{
    display: flex;
    flex-direction: column;
}

.footer_sns>ul{
    display: flex;
}
.footer_sns>ul> li{
    display: flex;
    padding-bottom: 10px;
}
.footer_sns>ul> li{
    margin: 5px 5px;
}
.service_wrap li img{
	display: block;
}
.strong{
    font-size: 16px;
    font-weight: bold;
}

.sns_hand img{
    width: 431px;
    height: 306px;
}
.sns_list> ul{
    width: 880px;
    display: flex;
    justify-content: space-between;
}
.sns_right{
    display: flex;
    align-items: center;
    height: 720px;
}

.sns_list> ul{
    width: 880px;
    display: flex;
    justify-content: space-between;
}
.social_sns> li{
    opacity: 0.5;
}
.social_sns> li:hover{
    opacity: 1;
}




#container {
    height: 2100px;
}